.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 17px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-bold;

  padding: 13px 0;

  color: $greyish-brown;
  border: solid 2px $greyish-brown;
  background-color: $white;

  letter-spacing: 1px;

  &--small {
    max-width: 192px;
  }
}
