.button {
  display: inline-block;
  box-sizing: border-box;

  width: 260px;
  max-width: 100%;

  font-size: 17px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  padding: 20px 0;
  vertical-align: middle;

  color: $greyish-brown;
  border: solid 2px $greyish-brown;
  background-color: $white;
}
