.button {
  width: 100%;
  padding: 13px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  text-decoration: none;
  text-align: center;
  font-weight: $font-weight-bold;
  color: $greyish-brown;
  letter-spacing: 1px;

  text-transform: uppercase;

  border: solid 2px $greyish-brown;
  background-color: $white;

  transition: $basic-all-transition;

  &--small {
    max-width: 192px;
  }

  &:hover {
    color: $white;
    background-color: $greyish-brown;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
