.categories {
  position: absolute;
  bottom: 0;

  @include reset-list;

  width: 100%;
}

.categories__item {
  position: relative;

  width: 100%;
  padding: 29px 0 29px 29px;

  font-size: 19px;
  font-weight: $font-weight-bold;
  line-height: 1.26;
  text-align: left;
  letter-spacing: 0.1px;

  background-color: $seafoam-blue;
  transition: $basic-all-transition;

  a {
    display: inline-block;
    color: $white;
    max-width: 106px;
  }

  &--dark {
    background-color: $greeny-blue;

    &:hover {
      background-color: $aqua-marine;
    }

    &:active {
      background-color: $aqua-marine;
    }
  }

  &::after {
    position: absolute;

    content: "";
    top: 50%;

    transform: translateY(-50%);
    background-repeat: no-repeat;

    opacity: 0.5;
  }

  &--interior::after {
    right: 34px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    right: 25px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}

@media (min-width: $tablet-width) {
  .categories {
    min-height: 119px;
    padding: 0 51px;

    display: flex;
  }

  .categories__item {
    height: height;

    padding: 30px 36px 29px 37px;
    line-height: 1.5;
    letter-spacing: 1.1px;

    &:hover {
      margin-top: -5px;

      background-color: $seafoam-blue-two;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $seafoam-blue-two;

      a {
        color: rgba($white, 0.3);
      }

      &::after {
        opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .categories__item {
    letter-spacing: 0.6px;
  }
}
