.contacts {
  display: flex;
  flex-direction: column;

  padding-top: 40px;

  position: relative;
}

.contacts__title {
  @include no-margin-no-padding;

  font-size: 18px;
  font-weight: $font-weight-bold;

  line-height: 1.67;

  color: $black;

  padding-left: 30px;
}

.contacts__table {
  margin: 25px 0 8px 29px;
  border-collapse: collapse;
}

.contacts__table-body {
  display: flex;
  flex-direction: column;
}

.contacts__row {
  color: #444444;
  margin-bottom: 26px;
  letter-spacing: -0.1px;
  line-height: 2;

  td {
    vertical-align: text-top;
  }
}

.contacts__text {
  padding-right: 31px;
  min-width: 78px;
}

.contacts__value {
  max-width: 160px;
}

.contacts__link {
  color: $greyish-brown;
  letter-spacing: -0.2px;

  &--email {
    border-bottom: 1px solid $aqua-marine;
    padding-bottom: 5px;

    &:hover {
      color: $aqua-marine;
    }

    &:active {
      color: rgba($aqua-marine, 0.3);
      border-bottom: 1px solid rgba($aqua-marine, 0.3);
    }
  }
}

.contacts__map {
  iframe {
    min-height: 457px;
  }
}

.contacts__iframe-map {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.contacts__button-wrapper {
  padding: 0 34px;
}

.contacts__write-us {
  margin: 39px auto;
  max-width: 260px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 76px;

    background-image: url("../img/icon-flag.svg");
    background-size: 47px 81px;
    background-position: right 51px top 62px;
    background-repeat: no-repeat;

    @include zigzag-line;
  }

  .contacts__title {
    padding-left: 49px;

    font-size: 43px;
    font-weight: $font-weight-bold;
    line-height: 1.16;
    color: $black;
    letter-spacing: -0.1px;
  }

  .contacts__table {
    margin: 48px 53px 31px;
  }

  .contacts__text {
    min-width: 75px;
    padding-right: 21px;

    letter-spacing: 0.8px;
  }

  .contacts__value {
    letter-spacing: 0.9px;
    max-width: none;
  }

  .contacts__link {
    letter-spacing: 1px;
  }

  .contacts__table-body {
    flex-direction: row;
  }

  .contacts__row {
    margin-right: 53px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts__write-us {
    margin: 51px auto;
    max-width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 655px;
    padding: 168px 51px 100px 224px;

    background-position: 112px 157px;
  }

  .contacts__title {
    margin-left: -3px;
    margin-bottom: 44px;
    padding-left: 0;

    font-size: 53px;
    letter-spacing: -0.4px;
  }

  .contacts__table {
    margin: 0 0 78px 0;
  }

  .contacts__link {
    letter-spacing: -0.1px;

    &--email {
      padding-bottom: 3px;
    }
  }

  .contacts__text,
  .contacts__value {
    min-width: 77px;

    padding-right: 0;

    letter-spacing: -0.1px;
  }

  .contacts__row {
    margin: 0 0 30px 0;

    font-size: 17px;
    line-height: 1.76;

    &:last-child {
      margin: 0;
    }
  }

  .contacts__table-body {
    flex-direction: column;
  }

  .contacts__map {
    position: absolute;

    right: 51px;
    top: 96px;
    bottom: 105px;
    width: 525px;
  }

  .contacts__write-us {
    margin: 0;
    letter-spacing: -0.1px;
  }
}
