.contacts {
  display: flex;
  flex-direction: column;

  padding-top: 40px;

  position: relative;
}

.contacts__title {
  font-size: 18px;
  font-weight: $font-weight-bold;

  line-height: 1.67;

  color: $black;

  padding-left: 30px;
}

.contacts__table {
  margin: 30px 35px 40px 29px;
  border-collapse: collapse;
}

.contacts__table-body {
  display: flex;
  flex-direction: column;
}

.contacts__row {
  margin-bottom: 15px;

  line-height: 2;
  color: $greyish-brown;
}

.contacts__text {
  padding-right: 32px;
}

.contacts__link {
  color: $greyish-brown;

  &--email {
    border-bottom: 1px solid #62d1ba;
    padding-bottom: 5px;
  }
}

.contacts__text,
.contacts__value {
  vertical-align: text-top;
}

.contacts__map {
  iframe {
    min-height: 457px;
  }
}

.contacts__button-wrapper {
  padding: 0 34px;
}

.contacts__write-us {
  margin: 39px auto;
  max-width: 230px;
}

@media (min-width: $tablet-width) {
  .contacts {
    background-image: url("../img/icon-flag.svg");
    background-size: 47px 81px;
    background-position: right 55px top 47px;
    background-repeat: no-repeat;
  }

  .contacts__title {
    font-size: 43px;
    font-weight: $font-weight-bold;
    line-height: 1.16;
    color: $black;
    padding-left: 51px;
  }

  .contacts__table {
    margin: 72px 53px 61px;
  }

  .contacts__table-body {
    flex-direction: row;
  }

  .contacts__row {
    margin-right: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 663px;
    padding: 152px 51px 105px 224px;

    background-position: 113px 133px;
  }

  .contacts__title {
    font-size: 53px;

    margin-left: 0;
    margin-bottom: 64px;
    padding-left: 0;
  }

  .contacts__table {
    margin: 0 0 70px 0;
  }

  .contacts__row {
    margin: 0 0 35px 0;

    font-size: 17px;
    line-height: 1.76;

    &:last-child {
      margin: 0;
    }
  }

  .contacts__table-body {
    flex-direction: column;
  }

  .contacts__map {
    position: absolute;

    right: 51px;
    top: 71px;
    bottom: 105px;

    width: 525px;
  }

  .contacts__write-us {
    margin: 0;
  }
}
