.copyright {
  min-height: 65px;

  display: flex;
  align-items: center;

  justify-content: center;
  padding-right: 30px;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1px;
  color: $black;

  margin-right: 25px;

  &:active {
    color: rgba($black, 0.3);
  }
}

.copyright__icon {
  height: 60px;
  width: 40px;

  fill: $seafoam-blue;

  &:hover {
    fill: $aqua-marine;
  }

  &:active {
    fill: rgba($aqua-marine, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-right: 0;
  }

  .copyright__text {
    margin-right: 21px;
  }

  .copyright__link {
    svg {
      margin-right: -8px;
    }
  }
}
