.copyright {
  min-height: 65px;

  display: flex;
  align-items: center;

  justify-content: center;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1px;
  color: $black;

  margin-right: 25px;

  &:active {
    color: rgba($black, 0.3);
  }
}

.copyright__icon {
  width: 27px;
  height: 34px;

  fill: $seafoam-blue;

  &:hover {
    fill: $aqua-marine;
  }

  &:active {
    fill: rgba($aqua-marine, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-right: 0;
    justify-content: flex-end;
  }

  .copyright__text {
    margin-right: 27px;
  }

  .copyright__link {
    padding-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    // padding-right: 30px;
  }
}
