.features {
  margin: 69px 31px 34px;
}

.features__title {
  font-size: 25px;
  font-weight: $font-weight-bold;

  line-height: 1.2;
  color: $black;
  margin: 0 0 30px 0;
}

.features__list {
  @include reset-list;
}

.features__item {
  position: relative;

  padding-top: 53px;
  padding-right: 0;
  margin-bottom: 24px;

  font-size: 17px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1px;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 45px 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 0 0;
  }

  &--scandinavian {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 0;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 7px;
    background-size: 32px;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: -2px 4px;
  }

  &--local-support {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -6px 5px;
    background-size: 55px;
  }

  &--packing {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: -3px 2px;
  }
}

.features__text {
  display: inline-block;
  max-width: 255px;
}

@media (min-width: $tablet-width) {
  .features {
    padding: 63px 50px 24px 50px;
    margin: 0;

    @include zigzag-line;
  }

  .features__title {
    font-size: 43px;
    margin: 0 0 50px 0;
  }

  .features__list {
    max-height: 490px;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
  }

  .features__item {
    width: 50%;
    margin-bottom: 55px;
    padding-right: 28px;

    flex-basis: 50%;

    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.5px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 76px 170px 35px;
    margin: 0 50px 0 50px;
  }

  .features__title {
    font-size: 53px;
  }

  .features__list {
    padding: 0 4px;
  }

  .features__item {
    padding-right: 0;
    margin-bottom: 59px;

    line-height: 1.09;
    letter-spacing: 0.1px;
  }
}
