.footer {
  width: 100%;
  padding: 0 30px;

  display: flex;
  flex-direction: column;

  background-color: $gray-light;
}

.footer__logo {
  display: none;
}

.footer__logo-icon {
  fill: #000000;
  translate: $basic-all-transition;

  &:hover {
    fill: $aqua-marine;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 33px 50px 32px;
  }

  .footer__logo {
    display: flex;
    flex-basis: 33%;
  }

  .footer__social {
    flex-basis: 33%;
  }

  .footer__copyright {
    flex-basis: 33%;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 25px 50px;
  }

  .footer__copyright {
    justify-content: flex-end;
  }
}
