.footer {
  background-color: $gray-light;
  display: flex;
  flex-direction: column;

  padding: 0 30px;
}

.footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 40px 50px 32px;
  }

  .footer__logo {
    display: flex;
    flex-basis: 33%;
  }

  .footer__social {
    flex-basis: 33%;
  }

  .footer__copyright {
    flex-basis: 33%;
  }
}

@media (min-width: $desktop-width) {
  .footer__copyright {
    justify-content: flex-end;
  }
}
