.header__title-wrapper {
  @include flex-vertical-center;
  justify-content: space-between;

  background-color: $gray-light;
  min-height: 180px;
  text-align: center;

  padding: 73px 0 120px;

  &--hero {
    background-color: $gray-light;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 285px;
    padding-bottom: 0;
    background-size: cover;
  }
}

.header__logo {
  height: 100%;
}

.header__title {
  font-size: 27px;
  line-height: 1.11;
  font-weight: $font-weight-bold;
  color: $very-dark-brown;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;

  &--hero {
    padding-bottom: 122px;
  }
}

@media (min-width: $tablet-width) {
  .header__title-wrapper {
    padding-top: 105px;
    padding-bottom: 99px;

    &--hero {
      min-height: 746px;
      padding-top: 161px;
      padding-bottom: 0;
      background-image: url("../img/hero-tablet@1x.jpg");
    }
  }
  .header__title {
    font-size: 43px;

    br {
      display: none;
    }

    &--hero {
      padding: 0 64px;
    }
  }

  .header__nav-wrapper {
    padding: 0 51px;

    min-height: 88px;

    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header__title-wrapper {
    &--hero {
      padding-bottom: 0;
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }

  .header__title {
    font-size: 53px;

    &--hero {
      padding-bottom: 0;
    }
  }
}
