.header__title-wrapper {
  @include flex-vertical-center;
  justify-content: center;

  background-color: $gray-light;
  min-height: 180px;

  text-align: center;

  &--hero {
    background-color: $gray-light;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    min-height: 285px;
  }
}

.header__logo {
  max-height: 79px;
}

.header__title {
  font-size: 27px;
  line-height: 1.11;
  font-weight: $font-weight-bold;
  color: $very-dark-brown;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header__title {
    font-size: 43px;
    padding: 104px 0 90px;

    &--hero {
      font-size: 43px;
      padding: 124px 0 371px;
    }
  }

  .header__hero-image {
    background-image: url("../img/hero-tablet@1x.jpg");
  }

  .header__nav-wrapper {
    padding: 0 51px;

    min-height: 88px;

    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header__title {
    font-size: 53px;

    padding: 105px 0 111px;
  }
}
