.how-its-done {
  display: flex;
  flex-direction: column;

  margin: 0 30px 58px;
  padding-bottom: 33px;

  border: solid 1px $gray-dark;
}

.how-its-done__image-wrapper {
  width: 100%;
}

.how-its-done__image {
  width: 100%;
}

.how-its-done__title {
  display: flex;
  align-items: center;

  font-size: 17px;
  font-weight: $font-weight-bold;
  position: relative;

  color: $black;

  width: 100%;

  padding: 29px 34px;
  margin: 0;

  svg {
    margin-right: 25px;
    fill: #63d1bb;
  }
}

.how-its-done__description {
  padding: 0 34px;
  margin: 0 0 40px 0;
}

.how-its-done__button-wrapper {
  display: flex;
  padding: 0 34px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .how-its-done__title {
    padding: 43px 42px 41px;

    font-size: 20px;

    svg {
      margin-right: 33px;
    }
  }
  .how-its-done__image-wrapper {
    order: -1;
  }

  .how-its-done__description {
    padding: 0 42px;
  }

  .how-its-done__button-wrapper {
    padding: 0 42px;
  }
}

@media (min-width: $desktop-width) {
}
