.how-its-done {
  display: flex;
  flex-direction: column;

  margin: 0 30px 58px;
  padding-bottom: 33px;

  border: solid 1px $gray-dark;
}

.how-its-done__image-wrapper {
  width: 100%;
}

.how-its-done__image {
  width: 100%;
}

.how-its-done__title {
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 1.41;

  color: $black;

  max-width: 126px;

  margin: 29px 0 26px;
}

.how-its-done__description {
  padding: 34px 34px 29px;
}

.how-its-done__button-wrapper {
  display: flex;
  padding: 0 34px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .how-its-done__image-wrapper {
    order: -1;
  }

  .how-its-done__description {
    padding: 34px 40px 29px;
  }

  .how-its-done__button-wrapper {
    padding: 0 42px;
  }
}

@media (min-width: $desktop-width) {
}
