.main-nav {
  position: relative;
  z-index: 1;

  width: 100%;
}

.main-nav__logo {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 22px 0;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  right: 15px;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0;

  background: transparent;
  border: 0;

  &--open {
    .main-nav__toggle-icon--close {
      display: none;
    }

    .main-nav__toggle-icon--open {
      display: block;
    }
  }
}

.main-nav__toggle-icon {
  &--open {
    display: none;
  }
}

.main-nav__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 300px;
  height: 100%;

  font-size: 17px;

  &--arrivals-sale {
    display: none;
  }

  &--closed {
    display: none;
  }
}

.main-nav__item {
  position: relative;

  display: flex;
  align-items: center;

  padding: 28px 0 28px 76px;

  a {
    font-weight: $font-weight-bold;
    color: $black;

    &:hover {
      color: $black-lighen;
    }

    &:active {
      color: $black-very-lighen;
    }
  }

  &--logo {
    padding: 0;

    min-height: 79px;

    justify-content: center;
    align-items: center;
  }

  &--free-shipping {
    display: none;

    letter-spacing: 0.6px;
  }
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;

  fill: $black-very-lighen;

  &:hover {
    fill: $seafoam-blue;
  }

  &:active {
    fill: rgba($seafoam-blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;

    height: 88px;

    padding: 0 51px;
  }

  .main-nav__logo {
    width: auto;
    min-width: 149px;

    padding: 0;
    margin-right: auto;

    align-items: center;
    justify-content: flex-start;

    img {
      width: 112px;
      height: 46px;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;

    &--search-checkout {
      display: flex;

      flex-basis: 65%;
      justify-content: flex-end;
    }

    &--catalog-form {
      display: flex;
      order: 1;
      justify-content: flex-start;
      flex-grow: 1;

      font-size: 15px;

      max-height: 60px;
    }

    &--arrivals-sale {
      display: none;
    }
  }

  .main-nav__item {
    padding: 25px 0;
    position: relative;
    letter-spacing: -0.1px;

    &--logo {
      margin-right: auto;
      flex-basis: 35%;
      justify-content: flex-start;
    }

    &--free-shipping {
      display: flex;
      order: 3;

      margin-left: 0;
      max-height: 60px;

      font-size: 15px;
      font-weight: 300;
    }

    &--search {
      font-size: 0;
      padding: 0 41px;

      border-left: 1px solid $gray-dark;
    }

    &--cart {
      border-left: 1px solid $gray-dark;

      padding-left: 83px;
      margin-left: 0;
    }

    &--catalog {
      margin-right: 37px;
    }
  }

  .main-nav__icon {
    left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    justify-content: center;

    img {
      width: 149px;
      height: 72px;
    }
  }

  .main-nav__list {
    height: 100%;
    max-height: 85px;

    &--search-checkout {
      justify-content: flex-end;
      flex-basis: 40%;
      flex-grow: 1;
    }

    &--catalog-form {
      justify-content: flex-start;
      order: -1;
      flex-grow: 1;
      flex-basis: 40%;

      font-size: 17px;
    }

    &--arrivals-sale {
      max-height: 65px;

      display: flex;
      flex-grow: 1;

      font-size: 15px;
    }
  }

  .main-nav__item {
    letter-spacing: 0;

    &--catalog {
      padding-right: 36px;
      margin-right: 0;
    }

    &--cart {
      padding-left: 85px;
    }

    &--form {
      padding-left: 33px;

      border-left: 1px solid $gray-dark;
    }

    &--logo {
      flex-grow: 1;
      justify-content: center;
      flex-basis: 40%;
    }

    &--free-shipping {
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
    }

    &--new-arrivals {
      padding-right: 30px;
    }

    &--sale {
      padding-left: 30px;
    }
  }
}
