.main-nav {
  width: 100%;
}

.main-nav__logo {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 22px 0;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  right: 15px;

  width: 50px;
  height: 50px;

  font-size: 0;

  background: transparent;
  border: 0;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  &--closed {
    background-image: url("../img/icon-menu-close.svg");
  }
}

.main-nav__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 300px;
  height: 100%;

  font-size: 17px;

  &--arrivals-sale {
    display: none;
  }

  &--closed {
    display: none;
  }
}

.main-nav__item {
  position: relative;

  display: flex;
  align-items: center;

  padding: 28px 0 28px 76px;

  a {
    font-weight: $font-weight-bold;
    color: $black;
  }

  &--logo {
    padding: 0;

    min-height: 79px;

    justify-content: center;
    align-items: center;
  }

  &--free-shipping {
    display: none;

    letter-spacing: 0.6px;
  }
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;

    height: 88px;

    padding: 0 51px;
  }

  .main-nav__logo {
    justify-content: flex-start;

    width: auto;
    flex-grow: 1;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;

    &--search-checkout {
      flex-basis: 65%;
      justify-content: flex-end;
    }

    &--catalog-form {
      order: 1;
      justify-content: flex-start;
      flex-grow: 1;

      font-size: 15px;

      max-height: 60px;
    }
  }

  .main-nav__item {
    padding: 25px 0;
    position: relative;
    letter-spacing: 0.3px;

    &--logo {
      margin-right: auto;
      flex-basis: 35%;
      justify-content: flex-start;
    }

    &--free-shipping {
      display: flex;
      order: 3;

      margin-left: 0;
      max-height: 60px;

      font-size: 15px;
      font-weight: 300;
    }

    &--search {
      font-size: 0;
      padding: 0 38px;

      border-left: 1px solid $gray-dark;
    }

    &--cart {
      border-left: 1px solid $gray-dark;

      padding-left: 82px;
      margin-left: 0;
    }

    &--catalog {
      margin-right: 37px;
    }
  }

  .main-nav__icon {
    &--cart {
      margin-right: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    height: 100%;
    max-height: 85px;

    &--search-checkout {
      justify-content: flex-end;
      flex-basis: 40%;
      flex-grow: 1;
    }

    &--catalog-form {
      justify-content: flex-start;
      order: -1;
      flex-grow: 1;
      flex-basis: 40%;

      font-size: 17px;
    }

    &--arrivals-sale {
      max-height: 65px;

      display: flex;
      flex-grow: 1;

      font-size: 15px;
    }
  }

  .main-nav__item {
    &--catalog {
      padding-right: 37px;
      margin-right: 0;
    }

    &--form {
      padding-left: 37px;

      border-left: 1px solid $gray-dark;
    }

    &--logo {
      flex-grow: 1;
      justify-content: center;
      flex-basis: 40%;
    }

    &--free-shipping {
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
    }

    &--new-arrivals {
      padding-right: 30px;
    }

    &--sale {
      padding-left: 30px;
    }
  }
}
