.product-stats {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;

  margin-bottom: 32px;

  td {
    border-bottom: 1px solid $gray-light;
    padding: 10px 0;
  }
}

.product-stats__title {
  min-width: 79px;
}
