.product-card__image-wrapper {
  font-size: 0;
}

.product-card__image {
  display: flex;

  flex-basis: 50%;
  width: 100%;
}

.product-card__title {
  max-width: 200px;

  @include no-margin-no-padding;
  margin-bottom: 13px;

  font-size: 17px;
  font-weight: $font-weight-bold;
  letter-spacing: 0;
  line-height: 1.15;
  color: $black;
}

.product-card__info {
  display: flex;
  flex-direction: column;

  padding: 26px 5px 30px 28px;

  border: solid 1px $gray-dark;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__text-container {
  padding-bottom: 25px;
}

.product-card__footer {
  padding-top: 22px;
  padding-right: 21px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $gray-light;
}

.product-card__icon {
  width: 21px;
  height: 18px;

  fill: $black-very-lighen;

  &:hover {
    fill: $seafoam-blue;
  }

  &:active {
    fill: rgba($seafoam-blue, 0.3);
  }
}

.product-card__size {
  letter-spacing: 0.2px;
}

@media (min-width: $tablet-width) {
  .product-card__image {
    height: 100%;
    max-height: 340px;
  }

  .product-card__info {
    flex-basis: 50%;
    padding: 22px 32px 26px 25px;
  }

  .product-card__title {
    max-width: 245px;
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: $font-weight-bold;

    letter-spacing: 1.2px;
  }

  .product-card__size {
    font-size: 15px;
  }

  .product-card__price {
    font-size: 17px;
    font-weight: $font-weight-bold;
  }

  .product-card__image-wrapper {
    flex-basis: 50%;
  }

  .product-card__footer {
    margin-top: auto;

    padding-left: 6px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__image {
    max-height: none;
    height: 462px;
    max-width: 100%;

    flex-basis: 462px;
  }

  .product-card__text-container {
    flex-grow: 1;
  }

  .product-card__title {
    margin: 0 0 7px 0;
  }

  .product-card__info {
    min-height: 197px;
  }

  .product-card__footer {
    padding-left: 0;
  }
}
