.products-list {
  @include reset-list;
  @include flex-vertical-center;

  padding: 0 30px;
  margin-top: 30px;
}

.products-list__item {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .products-list {
    margin: 0;

    padding: 80px 49px 3px 51px;
  }

  .products-list__item {
    flex-direction: row;
    min-height: 334px;

    margin-bottom: 52px;
  }

  .product-card__image-wrapper {
    flex-basis: 50%;
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    padding: 0 50px;
    margin-top: 121px;
    margin-bottom: 2px;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
  }

  .products-list__item {
    flex: 0 0 316px;

    flex-direction: column;

    min-height: 660px;

    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
