.reviews {
  padding: 40px 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 600;

  line-height: 1.2;
  color: $black-three;
}

.reviews__list {
  @include reset-list;

  margin-bottom: 38px;
}

.reviews__author {
  font-size: 17px;
  font-weight: 600;

  line-height: 1.41;

  color: $black-three;
}

.reviews__username {
  a {
    color: $greyish-brown;
  }
}
