.reviews {
  padding: 19px 30px 45px 31px;
}

.reviews__title {
  font-size: 25px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  color: $black;
  letter-spacing: 0.3px;

  margin: 0 0 23px 0;
}

.reviews__list {
  @include reset-list;

  margin-bottom: 35px;
}

.reviews__description {
  margin: 0 0 27px 0;

  font-size: 15px;
  line-height: 2;
  color: $greyish-brown;

  letter-spacing: 0;
}

.reviews__author {
  margin: 0 0 9px;

  font-size: 17px;
  font-weight: $font-weight-bold;
  color: $black;

  letter-spacing: 0.2px;
}

.reviews__username {
  margin: 0;
  letter-spacing: 1px;

  a {
    color: $greyish-brown;
  }
}

.reviews__controls {
  width: 100%;
  margin-bottom: 37px;

  display: flex;
}

.reviews__control {
  position: relative;

  @include no-margin-no-padding;
  @include hide-text-content;

  flex: 1;
  height: 52px;

  background-color: $white;
  border: solid 1px $gray-light;

  &--left::after {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right::after {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &::after {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 50px;
    height: 26px;

    background-color: $white;

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    &::after {
      opacity: 0.6;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    padding: 80px 51px 53px;
    margin-bottom: 70px;

    background-color: $white;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 46% 100%;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    font-size: 43px;
    font-weight: $font-weight-bold;
    color: $black;
    margin: 0 0 47px -4px;
  }

  .reviews__description {
    margin: 0 0 54px 0;

    font-size: 17px;
    line-height: 1.86;
    letter-spacing: 0;
  }

  .reviews__author {
    letter-spacing: 0.7px;
  }

  .reviews__list {
    margin-bottom: 0;
  }

  .reviews__controls {
    position: absolute;
    right: 67px;
    top: 360px;

    width: 137px;
    margin: 0;
  }

  .reviews__control {
    border: none;
    background-color: transparent;

    &:last-child {
      margin-left: 37px;
    }
  }

  .reviews__write {
    position: absolute;
    top: 83px;
    right: 48px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 171px;
    padding-bottom: 98px;
    padding-top: 66px;

    margin-left: 50px;
    margin-bottom: 67px;
  }

  .reviews__list {
    padding-left: 4px;
  }

  .reviews__title {
    margin-bottom: 43px;

    font-size: 53px;
  }

  .reviews__description {
    padding-right: 80px;
    margin-bottom: 38px;

    line-height: 1.86;
    letter-spacing: 0.2px;
  }

  .reviews__controls {
    right: 70px;
    top: 305px;
  }

  .reviews__author {
    letter-spacing: 0.1px;
  }

  .reviews__write {
    top: 76px;
    right: 50px;
  }
}
