.video-player {
  position: relative;
}

.video-player__button {
  position: absolute;

  width: 102px;
  height: 78px;

  @include absolute-center;
  @include fullwidth-centered-background-image;

  border: none;
  background-color: transparent;
}

.video-player__icon {
  transition: $basic-all-transition;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
