.video-player {
  position: relative;
}

.video-player__button {
  @include absolute-center;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
}

.video-player__icon {
  transition: $basic-all-transition;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
