.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.image {
  &--with-player {
    position: relative;

    &::after {
      content: "";
      width: 102px;
      height: 78px;

      @include absolute-center;

      @include fullwidth-centered-background-image;

      background-image: url("../img/icon-play.svg");
    }
  }
}
