// colors
$white: #ffffff;
$gray-dark: #ececec;
$gray-light: #f1f1f1;

$black: #000000;
$very-dark-brown: #010000;
$very-light-brown: #c6c6c6;
$greyish-brown: #444444;
$seafoam-blue: #63d1bb;
$seafoam-blue-two: #59d5bc;
$greeny-blue: #56c3b2;
$aqua-marine: #56c3b2;

$black-lighen: rgba($black, 0.6);
$black-very-lighen: rgba($black, 0.3);

// fonts
$font-family-default: "Open Sans", "Arial", sans-serif;
$font-weight-default: 400;
$font-color-default: #444444;
$font-size-default: 15px;

$font-weight-bold: 700;

// sizes
$tablet-width: 768px;
$desktop-width: 1150px;

$retina-dppx: 1.5dppx;

$basic-all-transition: all 0.3s ease-in-out;
