// colors
$white-four: #ececec;
$very-dark-brown: #010000;

// fonts
$default-font-family: OpenSans, Helvetica, sans-serif;

$default-font-weight: 300;
$font-weight-bold: 600;

$default-font-color: #444444;
$default-font-size: 15px;
